root { 
    display: block;
}

html{
    margin-top: 0px !important;
}

body{
    margin: 0;
    padding: 0;
}
p{
    font-family: Calibri;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
    border: 0px !important;
    outline: 0;
}

ul{
    list-style:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: Calibri, serif;
    line-height: 1.3;
}

h1 {
    font-size: 48px;
    margin: 33px 0;
}

h2 {
    font-size: 30px;
    margin: 25px 0;
}

h3 {
    font-size: 22px;
    margin: 22px 0;
}

h4 {
    font-size: 20px;
    margin: 25px 0;
}

h5 {
    font-size: 18px;
    font-weight: bold;
    color: #0866a6;
    margin: 30px 0;
}

h6 {
    font-size: 20px;
    color: #0866a6;
    font-family: 'helvetica_neuethin';
}

.clear-both{
    clear: both;
}

.loading-container{
    width: 100%;
    height: 340px;
}

.loading-container img{
    display: block;
    margin: 10px auto;
}

.loading-container .loading-container-text{
    width: 100%;
    margin: 0px auto;
    font-family: Arial;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: #373737;
}
/*#######################################################################################################
------------------------------------------------HEADER-------------------------------------------------
#######################################################################################################*/

#wrapper{
    margin: 0 auto;
    width: 100%;
    min-width: 981px;
}

#header {
    width: 981px;
    margin: 0 auto;
}

#header-content-wrapper{
    width: 100%;
    margin: 0 auto;
}


#full-width-content-area{
    width: 981px;
    margin: 10px auto;
}

#left-sidebar{
    width: 228px;
    min-height: 725px;
    float: left;
}

#main-content-area{
    width: 734px;
    min-height: 725px;
    float: left;
    margin-left: 19px;
}

#wrapper #top-bar{
    background-color: #0866a6;
    height: 38px;
    color: #daf4ff;
    font-family: calibri;
    font-size: 17px;
}

#wrapper #top-bar #blue-bar-wrapper {
    width: 981px;
    margin: 0 auto;
    overflow: hidden;
}

#wrapper #top-bar .blue-bar-label {
    float: left;
    margin-top: 0px;
}

#wrapper #top-bar .blue-bar-label:not(:last-child) {
    margin-right: 135px;
}

#wrapper #top-bar .blue-bar-label .blue-bar-icon{
    margin-top: 6px;
}

#wrapper #top-bar .blue-bar-label .blue-bar-text{
    margin-top: -6px;
    display: inline-table;
}

#header #top-bar2{
    width: 100%;
    height: 86px;
    position: relative;
}
#header #top-bar2 #logo1{
    float: left;
    width: 263px;
}
#header #top-bar2 #logo1 #affiliate-logo{
    margin-top: 28px;
    border: 0px;
    outline: 0;
}
#header #top-bar2 #logo1 .logo{
    font-family: 'helvetica_neuethin';
    font-size: 37px;
    color: #003b7d; 
    font-weight:lighter;
}

#header #top-bar2 #drop-down-lists{
    position: absolute;
    left: 260px;
    top: 25px;
}
#header #top-bar2 #drop-down-lists .dropdown-container{
    width: 247px;
    height: 40px;
    float: left;
}

#header #top-bar2 #drop-down-lists #drop-down-list2 > select{
    height: 40px;
}

#header #top-bar2 #drop-down-lists #drop-down-list3{
    margin-left: 34px;
}

#header #header-iframe #top-bar2 #drop-down-lists #drop-down-list2{
    margin-left: 13px;
}

#header #header-iframe #top-bar2 #drop-down-lists #drop-down-list3{
    margin-left: 13px;
}

#header #top-bar2 #drop-down-lists #drop-down-list3 > select{
    height: 40px;
}

#header #top-bar2 #drop-down-lists .search-input{
    width: 185px;
    height: 36px;
    outline: 0;
    border: 1px solid #d9d9d9;
    border-right: 0px;
    font-family: Calibri;
    font-size: 17px;
    color: #656565;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

#header #top-bar2 #drop-down-lists .search-button-header{
    background: url('images/button-2.png') no-repeat;
    width: 40px;
    height: 40px;
    outline: 0;
    border: 0px;
    cursor: pointer;
    float: left;
}

.sf-menu > li.current{
    height: 38px;
}

.sf-menu span.macro-list-item{
    border-left-color: rgb(216, 216, 216);
    border-left-style: solid;
    border-left-width: 1px;
    border-top-color: rgb(216, 216, 216);
    border-top-style: solid;
    border-top-width: 1px;
    color: rgb(48, 48, 48);
    cursor: auto;
    display: block;
    font-family: Calibri;
    font-size: 18px;
    height: 22px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 13.5px;
    padding-left: 18px;
    padding-right: 45px;
    padding-top: 13.5px;
    position: relative;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    width: 211px;
    zoom: 1;
}
/*  IMPORTANT IMPORTANT IMPORTANT IMPORTANT IMPORTANT IMPORTANT  */
/*############## Dropdown list style in superfish.css*/

#header #top-bar2 #drop-down-lists .styled-select {

    width: 250px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    color: #656565;
    margin-left: 15px;
    font-family: calibri; font-size: 17px;
}

#header #top-bar2 #how-does-it-work{
    width: 175px;
    height: 24px;
    color: #000000;
    font-family: Cambria;
    font-size: 18px;
    position: absolute;
    left: 806px;
    top: 30px;
}

#header #top-bar2 #how-does-it-work span{
    float: left;
    margin-right: 5px;
    border: 1px solid;border-radius: 50%;
    padding: 1px 7px 1px 7px;
    color: #005896;
}

#header #top-bar2 #how-does-it-work p{
    position: relative;
    top: -17px;
}

/*input tag for the dropdown list*/
.styled-list{
    width: 246px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    color: #656565;
    margin-left: 20px;
    font-family: calibri; font-size: 17px;
}

select::-ms-expand {
    display: none;
}

#header #top-bar2 #drop-down-lists .styled-label {
    position: absolute;
    left: 430px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    background-color: #ed7500;
}
#header #top-bar2 #drop-down-lists .styled-label1 {
    position: absolute;
    left: 510px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    background-color: #005795;
}
select {
    padding: 2px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:  none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

}
#header #top-bar3{
    clear: both;
    width: 100%;
    height: 45px;
    top: -4px;
    position: relative;
}

#header #top-bar3 #menu{
    float: left;
    border: 1px solid #e4e4e4;
    width: 784px;
    height: 32px;
    color: #e4e4e4;
    margin: 0px;
    padding: 12px 0px 0px 0px;
}

#header #top-bar3 #menu li{
    display: inline;
    font-family: Calibri;
    font-size: 16px;
    color: #303030;
    padding: 0px 16px 0px 16px;
}

#header #top-bar3 #menu li:hover{
    color: #000000;
}

#header #top-bar3 .menu-label {
    width: 195px;
    height: 45px;
    float: left;
    font-family: Calibri;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    background-color: #ed7500;
    position: absolute;
    right: 0px;
}


/**** Styling (Positioning) of Header for iFrame - Start ****/
#header #header-iframe #top-bar2 #drop-down-lists{
    left: 0px;
}
/**** Styling (Positioning) of Header for iFrame - End   ****/
/*#######################################################################################################
------------------------------------------------HEADER-2-------------------------------------------------
#######################################################################################################*/

#header #top-bar3 .menu-label span{

    width: 100%;
    text-align: center;
    display: block;
    margin-top: 10px;
}

#header2 #top-bar{
    background-color: #0866a6;
    background-repeat: repeat-x;
    height: 42px;
    padding: 5px 5px 5px 5px;
    color: white;
    font-family: calibri; font-size: 17px;

}
#header2 #top-bar2{
    margin-top: -18px;
    position: relative;

}
#header2 #top-bar2 #logo1{
    margin-left: 85px;
    float: left;
    margin-top: -20px;

}
#header2 #top-bar2 #logo1 .logo{
    font-family: 'helvetica_neuethin';
    font-size: 37px;
    color: #003b7d; 
    font-weight:lighter;
}
#header2 #top-bar2 #logo1 #M{
    color: #ed7500;
    text-decoration: none;
    font-family: 'helvetica_neuelight';

}
#header2 #top-bar2 #logo1 #AG{
    color: black;
    text-decoration: none;
    font-family: 'helvetica_neuelight';

}
#header2 #top-bar2 #drop-down-lists{
    float: left;
    margin-top: 22px;
    position: relative;
    margin-left:92px;
}
/*  IMPORTANT IMPORTANT IMPORTANT IMPORTANT IMPORTANT IMPORTANT  */
/*############## Dropdown list style in superfish.css*/

#header2 #top-bar2 #drop-down-lists .styled-select {

    width: 250px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    color: #656565;
    margin-left: 20px;
    font-family: calibri; font-size: 17px;
}
/*input tag for the dropdown list*/
.styled-list{
    width: 246px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #d9d9d9;
    color: #656565;
    margin-left: 20px;
    font-family: calibri; font-size: 17px;
}

select::-ms-expand {
    display: none;
}

#header2 #top-bar2 #drop-down-lists .styled-label {
    position: absolute;
    left: 430px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    background-color: #ed7500;
}
#header2 #top-bar2 #drop-down-lists .styled-label1 {
    position: absolute;
    left: 510px;
    display: inline-block;
    padding: 7px 12px 7px 12px;
    background-color: #005795;
}
select {
    padding: 2px 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:  none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';

}
#header2 #top-bar3{
    margin-top: 130px;
    margin-left: 90px; padding-bottom: 4px;
}

#header2 #top-bar3 #partner_link {
    /*    position: absolute;
        left: 230px;
        display: inline-block;*/
    font-family: calibri; font-size: 15px; color: #0866a6; 
    float: left; margin-top: -30px;

}
#header2 #top-bar3 .menu-label {
    /*    position: absolute;
        left: 230px;
        display: inline-block;*/
    float: left; margin-top: -40px;
    font-family: Calibri; font-weight: bold; font-size: 18px; color: white;
    padding: 11px 31px 10px 31px;
    background-color: #ed7500;  
    margin-left: 821px;
}


/*#######################################################################################################
--------------------------------------------------FOOTER-------------------------------------------------
#######################################################################################################*/

#footer{
    background-color: #282828;
    position: relative;
    color: #a2a2a2;
    font-family: calibri;
    line-height:10px;
    height: 202px;
}
#footer #footer-1{
    font-size: 14px;
    float: left;
    margin: 10px 0px 0px 110px;
}
#footer #footer-2{
    font-size: 14px;
    float: left;
    margin: 10px 0px 0px 220px;
}
#footer #footer-3{
    font-size: 14px;
    float: left;
    margin: 10px 0px 0px 220px;
}
#footer #copyrights{
    font-size: 11px;
    background-color: #222222;
    font-family: Arial;
    margin: 0px 0px 0px 0px;
    position: absolute;
    width: 100%;
    /*    padding: 5px;*/
    top: 180px;   
}
#footer #bar1{
    position: absolute;
    background-color: #343434;
    height: 132px; width: 1px;
    top: 30px; left: 520px;
}
#footer #bar2{
    position: absolute;
    background-color: #343434;
    height: 132px; width: 1px;
    top: 30px; left: 820px;
}
#footer #copyrights p{
    padding: 2px 0px 2px 120px;
    color: #7a7a7a;
}

/*#######################################################################################################
---------------------------------------------------Main--------------------------------------------------
#######################################################################################################*/

#main{
    min-height: 400px;
    margin: 0px auto;
    width: 981px;
    margin-top: 44px;
    margin-bottom: 25px;
    overflow: hidden;
}

/*#######################################################################################################
------------------------------------------------Side bars------------------------------------------------
#######################################################################################################*/


#sidebar_Home-Left{
    list-style: none;
    width: 300px; float: left; margin-left: -40px;
}

#sidebar_Home-Main{
    list-style: none; 
}

#sidebar_Home-Right{
    width: 738px;
    float: left;
    margin-left: -18px;
}

/*** Get it in its place ***/
.product-name, .product-image-holder{
    cursor: pointer !important;
}

.k-window-titlebar{
    display: none;
}

.k-window{
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
}
#window{
    display: none;
    background: rgba(20,20,20,0.7);
    position: fixed;
    z-index: 1000000;
}

#nav-bar-header{
    float: left;
    border: 1px solid #e4e4e4;
    width: 784px;
    height: 32px;
    color: #e4e4e4;
    margin: 0px;
    padding: 12px 0px 0px 0px;
}

.nav-bar-first-list{
    top: -11px;
    height: 43px !important;
    margin-right: 2px !important;
}

.nav-bar-first-level{
    border: 0px !important;
    color: #303030 !important;
    display: block !important;
    height: 32px !important;
    list-style-image: none !important;
    list-style-position: outside !important;
    list-style-type: none !important;
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 2px !important;
    margin-top: 11px !important;
    padding: 0px 16px 0px 16px !important;
    position: relative !important;
    text-align: left !important;
    text-decoration: none !important;
    white-space: nowrap !important;
    zoom: 1 !important;
    font-family: Calibri !important;
    font-size: 16px !important;
}

.sf-menu li.sfHover{
/*    background: #ed7500 !important;*/
}