#how-does-it-work-container{
    position: relative;
    width: 981px;
    overflow: hidden;
}

#how-does-it-work-container #boxes{
    position: relative;
    width: 981px;
    height: 325px;
    margin: 30px auto;
}

.step-count{
    position: relative;
    width: 232px;
    float: left;
}

.step-count:not(:nth-child(4n)){
    margin-right: 17px;
}

.step-count span{
    display: block;
}

.step-count img{
    position: relative;
    left: 65px;
    top: 50px;
}

.step-count .box-container{
    position: relative;
}

.circle{
    background-color: #0866a6; 
    position: absolute;
    font-size: 18px; 
    border: 1px solid; 
    border-radius: 50%; 
    padding: 8px 15px 8px 15px; 
    color: white; 
    font-family: Calibri; font-size: 18px;
}
.circle-border{
    position: absolute;
    border: 1px solid; 
    border-radius: 50%; 
    border-color: #d4d4d4;
    padding: 23px 23px 23px 23px;
    top: -4px;
    left: -3px;
    /*    border-top: 1px solid white;*/
}

.circle-hide{
    position: absolute;
    background-color: white; 
    padding: 13px 26px 13px 23px;
    top: -5px;
    left: -4px;
    /*    border-top: 1px solid white;*/
}

#main #boxes #step1 #circle1{
    position: absolute;
    top: -20px;
    left: 102px;
    z-index: 1;
}

#main #boxes #step1 #box1{
    width: 230px; height: 293px;
    border: 1px solid #d4d4d4;
    float: left;
}

#main #boxes #step2{

}

#main #boxes #step2 #circle2{
    position: absolute;
    top: -20px;
    left: 102px;
    z-index: 1;
}

#main #boxes #step2 #box2{
    width: 230px; height: 293px;
    border: 1px solid #d4d4d4;
    float: left;
}
#main #boxes #step3 #circle3{
    position: absolute;
    top: -20px;
    left: 102px;
    z-index: 1;
}

#main #boxes #step3 #box3{
    width: 230px; height: 293px;
    border: 1px solid #d4d4d4;
    float: left;
}
#main #boxes #step4 #circle4{
    position: absolute;
    top: -20px;
    left: 102px;
    z-index: 1;
}

#main #boxes #step4 #box4{
    width: 230px; height: 293px;
    border: 1px solid #d4d4d4;
    float: left;
}

#main #box_arrows{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 78px;
}

#main #box_arrows #box_arrow1{
    width: 62px;
    height: 15px;
    position: relative;
    left: 209px;
    top: 10px;
}

#main #box_arrows #box_arrow2{
    width: 62px;
    height: 15px;
    position: relative;
    left: 392px;
    top: 10px;
}

#main #box_arrows #box_arrow3{
    width: 62px;
    height: 15px;
    position: relative;
    left: 575px;
    top: 10px;
}

.how-it-works-box-title{
    position: relative;
    top: 52px;
    left: 0px;
    width: 100%;
    text-align: center;
    font-family: Calibri;
    font-size: 25px;
    color: #303030;
}

.how-it-works-box-text{
    position: relative;
    top: 38px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: Calibri;
    font-size: 17px;
    color: #303030;
}