#not-found-widget-wrapper{
    width: 981px;
    height: 600px;
}

#not-found-widget-wrapper #widget-container{
    width: 435px;
    height: 227px;
    margin: 40px auto;
}

#not-found-widget-wrapper #widget-container #not-found-message{
    width: 435px;
    height: 85px;
    margin: 20px auto;
    font-family: Calibri;
    font-size: 18px;
    color: #303030;
    float: left;
}

#not-found-widget-wrapper #widget-container #not-found-search{
    width: 455px;
    height: 42px;
    margin: 0;
    font-family: Calibri;
    font-size: 18px;
    color: #303030;
    float: left;
}

#not-found-widget-wrapper #widget-container #not-found-search #not-found-search-input{
    width: 233px;
    height: 36px;
    border: 1px solid #d9d9d9;
    border-right: 0px;
    padding: 0px 5px;
    font-family: Calibri;
    font-size: 18px;
    color: #303030;
    float: left;
}

#not-found-widget-wrapper #widget-container #not-found-search #drop-down-search{
    width: 131px;
    height: 38px;
    margin: 0px;
    padding: 0px;
    background: url('../images/not-found-search-all.png');
    float: left;
}

#not-found-widget-wrapper #widget-container #not-found-search #page-not-found-search-btn{
    width: 50px;
    height: 38px;
    margin-left: 22px;
    padding: 0px;
    background: url('../images/404-search-btn.png');
    float: left;
    cursor: pointer;
}

#drop-down-search .sf-menu{
    width: 140px;
    position: absolute;
}

#drop-down-search .sf-menu > li{
    width: 130px
}

#drop-down-search .sf-menu > li > input{
    width: 125px;
    height: 32px;
}